<% if @todos.length > 0 %>
  <!-- List all uncompleted todos -->
  <ul class="todo-list">
    <% @todos.each do |todo| %>
      <li class="todo"><%= check_box_tag("completed", todo.id, todo.completed,
                            data: {
                            remote: true,
                            url: url_for(action: 'update', id: todo.id),
                                 method: 'PUT'}) %>
      <span class=<%= checked?(todo) %>><%= best_in_place todo, :title %></span>
      <%= link_to "Delete", todo_path(todo), method: :delete, remote: true, class: "delete" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2 id="new">Nothing here yet.  Add a To Do?</h2>
<% end %>
<hr id="divide" />