<div class="text-center"> 
  <%= render partial: 'form' %>
</div>

<div class="todos">  
  <%= render partial: 'todos', locals: {todos: @todos} %>
</div>

<div>
  <%= link_to "Mark all completed", complete_path, action: "all_complete", class: "all-complete pull-left", remote: true %>
  <%= link_to "Clear completed", clear_path, action: "clear_complete", class: "clear pull-right", remote: true %>
</div>